{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/output.css" %}">
  </head>
  <body>
    <main>
      <section class="h-screen flex items-center justify-center">
        <div class="w-1/2 shadow-lg p-5 rounded-lg">
          <div>
            <p>{% if messages %} 
                  {% for message in messages  %}
                    <p class="{% if message.tags == 'success' %}
                    bg-green-600 text-white font-bold
                    {% endif %}">
                      {{message}}
                    </p>
                  {% endfor %}
              {% endif %}</p>
          </div>
          <form method="POST" class="flex flex-col gap-5 w-full ">
            {% csrf_token %} 
            {{task_form.as_p}}
            {{task_detail_form.as_p}}
            <button type="submit" class="bg-green-500 text-white px-5 py-1 rounded">Submit</button>
          </form>
        </div>
      </section>
    </main>
  </body>
</html>
